<!DOCTYPE html>
<html lang="en">
<head><script type="text/javascript" src="/___vscode_livepreview_injected_script"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="/static/adminlte.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        <nav class="app-header navbar navbar-expand bg-body">
            <div class="container-fluid">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">
                            <i class="fa-solid fa-bell"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}" class="btn btn-default btn-flat float-end ms-2">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Sidebar -->
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <div class="sidebar-wrapper">
                <nav class="mt-2">
                    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="{{ url_for('transaksi') }}" class="nav-link">
                                <i class="fa-solid fa-house"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview" data-widget="treeview">
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-user">
                                <p>{{ username }}</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="row"> <!-- Start col -->
            <div class="col-12"> <!-- Start column -->
                <div class="card mb-4" style="width: 100%; height: 100vh; overflow-y: auto;">
                    <div class="card-header">
                        <h3 class="card-title" style="font-size: 18px;">Riwayat Notifikasi</h3>
                    </div>
                    <div class="card-body" style="padding: 8;">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Pesan</th>
                                    <th>Waktu</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for message in messages %}
                                    <tr>
                                        <td>{{ message.chat }}</td>
                                        <td>{{ message.waktu_chat }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- End column -->
        </div> <!-- End col -->
        

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    
</body>
</html>
